[Desktop Entry]
Type=Service
#ServiceTypes=Kate/Plugin # this changed to KTextEditor
ServiceTypes=KTextEditor/Plugin
X-KDE-Library=katejshintplugin
#X-Kate-Version=2.9 No KATE specific stuff atm, see https://github.com/KDE/kate/commit/2b1d24a5dac345819ed88c8177ad00891c6317dd
Name=JavaScript Validation
Name[ar]=التّحقّق من JavaScript
Name[bg]=Валидиране на JavaScript
Name[bs]=Ovjera JavaScript‑a
Name[ca]=Validació de JavaScript
Name[ca@valencia]=Validació de JavaScript
Name[cs]=Validace JavaScript
Name[da]=JavaScript-validering
Name[de]=JavaScript-Überprüfung
Name[el]=Έλεγχος εγκυρότητας JavaScript
Name[en_GB]=JavaScript Validation
Name[es]=Validación JavaScript
Name[et]=JavaScript-i kontrollija
Name[eu]=JavaScriptren balioztatzea
Name[fa]=اعتبارسنجی Kate JavaScript
Name[fi]=JavaScript-validointi
Name[fr]=Validation du JavaScript
Name[ga]=Bailíochtú JavaScript
Name[gl]=Validación de JavaScript
Name[he]=אימות JavaScript
Name[hu]=JavaScript-ellenőrző
Name[ia]=Validation JavaScript
Name[it]=Validazione JavaScript
Name[ja]=JavaScript 検証
Name[kk]=JavaScript-ды тексеруі
Name[km]=សុពលកម្ម​ JavaScript 
Name[ko]=JavaScript 검사기
Name[lt]=JavaScript patikra
Name[lv]=JavaScript validācija
Name[mr]=JavaScript व्हेलिडेशन
Name[nds]=JavaScript-Prööv
Name[nl]=JavaScript-validatie
Name[nn]=JavaScript-validering
Name[pa]=JavaScript ਵੈਧਤਾ
Name[pl]=Sprawdzenie JavaScript
Name[pt]=Validação de JavaScript
Name[pt_BR]=Validação de JavaScript
Name[ro]=Validare JavaScript
Name[ru]=Проверка JavaScript
Name[si]=JavaScript වලංගුකරණය
Name[sk]=JavaScript kontrola
Name[sl]=Potrjevanje veljavnosti JavaScript-ja
Name[sr]=Овера ИксМЛ‑а
Name[sr@ijekavian]=Овера ИксМЛ‑а
Name[sr@ijekavianlatin]=Overa JavaScript‑a
Name[sr@latin]=Overa JavaScript‑a
Name[sv]=JavaScript-validering
Name[tg]=Муайянкунии JavaScript
Name[tr]=JavaScript Doğrulama
Name[ug]=JavaScript دەلىللەش
Name[uk]=Перевірка JavaScript
Name[vi]=Xác nhận JavaScript
Name[wa]=Validåcion JavaScript
Name[x-test]=xxJavaScript Validationxx
Name[zh_CN]=JavaScript 校验
Name[zh_TW]=JavaScript 檢查器
Comment=Validates JavaScript files using jshint
Comment[ar]=يتحقّق من ملفّات JavaScript باستخدام jshint
Comment[bg]=Валидиране на JavaScript-файлове с помощта на jshint
Comment[bs]=Overava JavaScript datoteke naredbom jshint
Comment[ca]=Valida els fitxers JavaScript usant el «jshint»
Comment[ca@valencia]=Valida els fitxers JavaScript usant el «jshint»
Comment[cs]=Ověřuje soubory JavaScript pomocí jshint
Comment[da]=Validerer JavaScript-filer ved brug af jshint
Comment[de]=Überprüft JavaScript-Dateien mit jshint
Comment[el]=Ελέγχει την εγκυρότητα JavaScript αρχείων με χρήση του jshint
Comment[en_GB]=Validates JavaScript files using jshint
Comment[es]=Valida archivos JavaScript usando jshint
Comment[et]=Kontrollib JavaScript-faile jshint'i abil
Comment[eu]=JavaScript fitxategiak balioztatzen ditu jshint erabiliz
Comment[fi]=Validoi JavaScript-tiedostot jshintiä käyttäen
Comment[fr]= Valide les fichiers JavaScript à l'aide de « jshint »
Comment[ga]=Bailíochtaigh comhaid JavaScript le jshint
Comment[gl]=Valida ficheiros JavaScript usando jshint
Comment[he]=מאמת קבצי JavaScript בעזרת jshint
Comment[hu]=JavaScript-fájlok ellenőrzése az jshint programmal
Comment[ia]=Valida files JavaScript per usar jshint
Comment[it]=Convalida i file JavaScript usando jshint
Comment[ja]=jshint で JavaScript ファイルを検証します
Comment[kk]=jshint көмегімен JavaScript файлдарды тексеру
Comment[km]=ធ្វើ​ឲ្យ​ឯកសារ JavaScript មាន​សុពលភាព​ដោយ​ប្រើ jshint
Comment[ko]=jshint로 JavaScript 파일 검사하기
Comment[lt]=Tikrina JavaScript failus naudojant jshint
Comment[lv]=Pārbauda JavaScript datnes izmantojot jshint
Comment[mr]=JavaScript फाईल्स jshint वापरून व्हेलिडेट करतो
Comment[nds]=Pröövt JavaScript-Dateien mit "jshint"
Comment[ne]=jshint प्रयोग गरेर एक्सएमएल फाइलहरू प्रमाणीकरण गर्दछ
Comment[nl]=Valideert JavaScript-bestanden met behulp van jshint
Comment[nn]=Validerer JavaScript-filer med jshint
Comment[pl]=Sprawdza poprawność składni JavaScript za pomocą jshint
Comment[pt]=Valida os ficheiros JavaScript com o 'jshint'
Comment[pt_BR]=Valida arquivos JavaScript usando jshint
Comment[ro]=Validează fișiere JavaScript utilizând jshint
Comment[ru]=Проверка правильности JavaScript с использованием jshint
Comment[si]=mllint භාවිතයෙන් JavaScript වලංගු කරන්න
Comment[sk]=Skontroluje JavaScript pomovou JavaScriptint
Comment[sl]=Potrdi veljavnost datotek JavaScript z jshint
Comment[sr]=Оверава ИксМЛ фајлове помоћу jshint
Comment[sr@ijekavian]=Оверава ИксМЛ фајлове помоћу jshint
Comment[sr@ijekavianlatin]=Overava JavaScript fajlove pomoću jshint
Comment[sr@latin]=Overava JavaScript fajlove pomoću jshint
Comment[sv]=Validerar JavaScript-filer med jshint
Comment[tg]=Файлҳои JavaScript тавассути jshint муайян мекунад
Comment[tr]=JavaScript dosyalarını jshint kullanarak doğrular
Comment[ug]=jshint پروگرامما ئىشلىتىپ JavaScript ھۆججەت دەلىللەيدۇ
Comment[uk]=Перевіряє файли JavaScript за допомогою jshint
Comment[vi]=Xác nhận các tập tin JavaScript sử dụng jshint
Comment[x-test]=xxValidates JavaScript files using jshintxx
Comment[zh_CN]=使用 jshint 程序校验 JavaScript 文件
Comment[zh_TW]=用 jshint 來確認 JavaScript 檔
